<h1>Questions#ask</h1>

<div>
  <form action="http://localhost:3000/answer" target="blank">
    <input type="text" name="entry" placeholder="Your Text" class="input">
    <input type="submit" value="Ask!" class="btn">
  </form>
</div>
